:root {
  --bg-color :#e3deda ;
  --text-color : #977f3f;
  --black : #0F0F13;
  --white : #E8E8F0;
  --grey1 : #888780;
  --grey2 : #7B7B7A;
  --violet : #7C6EF0;
  --vert : #3BBFA8;
  --orange : #EF9F27;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding : 0;
}

body {
  background-color: #fff;
  font-family : 'Work Sans', sans-serif;
  font-weight : 400;
  color : var(--black);
}

h1, h2, h3, h4, h5, h6 {
  font-family : 'Playwrite GB J', serif;
  color : var(--text-color);
}

a {
  text-decoration: none;
  color : var(--black);
}
